run = "npm run dev & php artisan serve"

[nix]
channel = "stable-23.11"
packages = ["nodejs", "php", "composer"]

[[ports]]
socket = 3000
internalPort = 3000
declare = "React"

[[ports]]
socket = 8000
internalPort = 8000
declare = "Laravel"